.main-header {
  color: var(--color-white);
  display: grid;

  .header__main-nav {
    padding: 0 4%;
    height: 11.8rem;
    display: flex;
    align-items: center;
    background-color: var(--color-secondary);

    .header__main-nav--left,
    .header__main-nav--right {
      flex: 1;
      display: flex;
    }

    .header__main-nav--left {
      gap: 3.2rem;

      .header__link {
        letter-spacing: 2px;

        &:hover {
          color: var(--color-highlight);
          color: var(--color-secondary-contrast-dark-1);
        }
      }
    }

    .header__main-nav--right {
      justify-content: flex-end;
      gap: 6.8rem;
    }
  }

  .header__search {
    border: none;
    width: 29.5rem;
  }

  .header__logo {
    img {
      width: 22.4rem;
      object-fit: cover;
    }
  }

  .header__buy {
    background-color: var(--color-white);
    height: 5.5rem;
    aspect-ratio: 1 / 1;
    font-size: 3rem;
    color: var(--color-secondary-contrast);
    border: 2px solid currentColor;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(1.1);
    }
  }

  .header__secondary-nav {
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--color-secondary-dark);
    list-style: none;

    .header__link {
      font-weight: 500;
      padding: 0.8rem;
    }
  }

  .header__link {
    letter-spacing: 2px;
  }

  .header__deliver-nav {
    background-color: var(--color-secondary-light-1);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.8rem;
    color: var(--font-c-page);
    color: var(--color-secondary-contrast);
    color: var(--color-secondary-contrast-dark-1);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;

    .header__btn {
      margin-left: -0.5rem;
    }
  }
}
