.input {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-gray-1);
  padding: 1.8rem;
  min-width: 1rem;
  color: var(--font-c-page);
  background-color: var(--color-gray-0);

  input {
    flex: 1;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: inherit;
    color: inherit;
    background-color: inherit;

    &::placeholder {
      color: var(--color-gray-2);
    }

    &::-webkit-search-cancel-button {
      margin-left: 0.5rem;
    }
  }
}

.small {
  font-size: 1.4rem;
  border-radius: var(--border-radius-s);
  padding: 0.5rem 0.8rem;
}

.error {
  border-color: var(--color-error);

  & + span {
    color: var(--color-error);
    font-size: var(--font-s--xs);
  }
}
