.input {
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-gray-1);
}

.input,
.input input {
  padding: 1.8rem;
  color: var(--font-c-page);
  background-color: var(--color-gray-0);
  outline: none;
  overflow: hidden;
  min-width: 1rem;
  font-size: inherit;

  &::placeholder {
    color: var(--color-gray-2);
  }

  &::-webkit-search-cancel-button {
    margin-left: 0.5rem;
  }
}

.input:has(input) {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  input {
    padding-right: 0;
    border: none;
    flex: 1;
  }

  button {
    margin-right: 1.8rem;
  }
}

.small {
  font-size: 1.4rem;
}

.small,
.small input {
  border-radius: var(--border-radius-s);
  padding: 0.5rem 0.8rem;
}
