.auth-container {
  margin-top: var(--spacing-64);
  display: flex;
  justify-content: center;

  .title {
    margin-bottom: var(--spacing-12);
    text-transform: uppercase;
  }

  .form {
    width: 40rem;
    display: grid;
    gap: var(--spacing-12);
  }
}
