.signin-button {
  background-color: var(--color-secondary-dark);
  text-transform: uppercase;
  color: var(--color-white);

  &:hover {
    background-color: var(--color-secondary);
  }
}

.forgot-password {
  justify-self: center;
  color: var(--color-secondary-dark);
  font-weight: var(--font-w--sb);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.create-account-container {
  margin-top: var(--spacing-12);
  display: grid;
  gap: var(--spacing-24);
}

.create-account-button {
  justify-self: center;
}

.signin-providers-container {
  display: grid;
  gap: var(--spacing-12);
}

.provider-icons-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-12);

  button {
    font-size: var(--font-size-48);
    filter: sepia(60%);
  }
}

.google-icon {
  color: var(--color-google);
}

.facebook-icon {
  color: var(--color-facebook);
}

.x-twitter-icon {
  color: var(--color-x-twitter);
}
