.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1.8rem;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border-radius: var(--border-radius-m);
  font-weight: var(--font-w--sb);
  letter-spacing: 1.25px;
}

.small {
  font-size: var(--font-s--s);
  font-weight: var(--font-w--sb);
  letter-spacing: 1px;
  gap: var(--spacing-8);
  padding: 1rem;

  i {
    font-size: 2rem;
  }
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-primary-dark-1);
  }
}

.contrast {
  background-color: var(--color-secondary-contrast-dark-1);
  color: var(--color-white);
  padding: 0.5rem 1.2rem;

  &:hover {
    background-color: var(--color-secondary-contrast);
  }
}

.rounded {
  border-radius: 50%;
}

.icon {
  padding: 0;
}
