/* ####################### INPUT ####################### */
/* ##################################################### */

.input {
  padding: 1.8rem;
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-gray-1);
  color: var(--font-c-page);
  background-color: var(--color-gray-0);
  outline: none;
  overflow: hidden;

  &::placeholder {
    color: var(--color-gray-2);
  }

  &::-webkit-search-cancel-button {
    margin-left: 0.5rem;
  }

  &.input--s {
    font-size: 1.4rem;
    border-radius: var(--border-radius-s);
    padding: 0.5rem 0.8rem;
  }
}

.input:has(input) {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &.input--s {
    input {
      padding: 0.5rem 0.8rem;
    }
  }

  input {
    padding: 1.8rem;
    padding-right: 0;
    color: inherit;
    border: none;
    font-size: inherit;
    background-color: inherit;
    outline: none;
    flex: 1;

    &::placeholder {
      color: var(--color-gray-2);
    }

    &::-webkit-search-cancel-button {
      margin-left: 0.5rem;
    }
  }

  button {
    margin-right: 1.8rem;
  }
}

/* ####################### CARD ####################### */
/* ##################################################### */

.card {
  display: flex;
  flex-direction: column;

  &.card--gap-s {
    gap: 0.8rem;
  }
}
