/* ####################### INPUT ####################### */
/* ##################################################### */

.input {
  border-radius: var(--border-radius-m);
  border: 1px solid var(--color-gray-1);
  color: var(--color-gray-3);
  background-color: var(--color-gray-0);
  padding: 1.8rem;
  display: flex;
  gap: 1.5rem;

  &.input--s {
    line-height: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0.5rem 0.8rem;
    border-radius: var(--border-radius-s);
  }

  input {
    color: var(--font-c-page);
    border: none;
    outline: none;
    font-size: inherit;
    flex: 1;
    background-color: inherit;

    &::placeholder {
      color: var(--color-gray-2);
    }

    &::-webkit-search-cancel-button {
      margin-left: 0.5rem;
    }
  }
}

/* ####################### CARD ####################### */
/* ##################################################### */

.card {
  display: flex;
  flex-direction: column;

  &.card--gap-s {
    gap: 0.8rem;
  }
}
