/* ####################### CARD ####################### */
/* ##################################################### */

.card {
  display: flex;
  flex-direction: column;

  &.card--gap-s {
    gap: 0.8rem;
  }
}
