.label-container {
  margin-bottom: 0.5rem;

  label {
    font-size: var(--font-s--s);
    font-weight: var(--font-w--sb);
    margin-right: 0.5rem;
  }

  .help-icon {
    display: inline-flex;
  }
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1.2rem;
}
