.container {
  position: relative;
  display: block;
}

.tooltip-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 1rem);
  z-index: var(--zindex-menu);
  padding: 1rem;
  width: 20rem;
  background-color: var(--color-white);
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-s);
  cursor: initial;
  font-size: var(--font-s--s);
  opacity: 0;

  .arrow {
    background-color: inherit;
    height: 1rem;
    width: 1rem;
    position: absolute;
    right: -0.5rem;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  &.visible {
    opacity: 1;
  }
}

.background-layer {
  position: fixed;
  z-index: var(--zindex-bg-menu);
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
