.signup {
  padding: 32px 0;

  .signup__form {
    max-width: 40rem;
    margin: auto;
    display: grid;
    gap: 1.2rem;
  }

  .signup__title {
    margin-bottom: 1.2rem;
    text-transform: uppercase;
  }

  .signup__two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}
